* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.main_show {
    background-image: url("./hussein/4.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    max-height: 700px;
    padding: 20px;
    /* Optional: Add padding to give spacing between the content and edges */
}

.header_h {
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 1000;

}

.hh {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.hussein_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hussein_logo img {
    width: 26px !important;
    height: 26px;
    margin-right: 20px;
}

.hussein_logo h1 {
    font-family: "Uncial Antiqua", serif;
    font-weight: 600;
    font-style: normal;
    color: #F7F7F7;

    font-size: 24px;
}

.list_web {
    display: flex;
    justify-content: right;
    text-align: right;
}

.list_web a {
    padding: 8px 16px 8px 16px;
    margin-right: 5px;
    font-size: 17px;
    font-weight: 500;
    color: #F7F7F7;
    border-radius: 20px;
    cursor: pointer;
}

.list_web .selected {
    background-color: #c6b13a;
    border: 1px solid #d5bf3d;
}

.list_mobile {
    display: none;
    cursor: pointer;
    position: relative;
    z-index: 1000;
}

.list_mobile div {
    width: 40px;
    height: 3px;
    background-color: #F7F7F7;
    margin: 6px 0;
    border-radius: 3px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.list_mobile.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list_mobile.active div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.list_mobile.active div:nth-child(2) {
    opacity: 0;
}

.list_mobile.active div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.mobile_list {
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    width: 80%;
    max-width: 600px;
    padding: 20px;

    background-color: #867d62c3;
    backdrop-filter: blur(10px);
    /* Apply blur effect */
    z-index: 100;
}

.list_c {
    margin-top: 130px;
}

.list_c div {
    background-color: #f6d82d;
    padding: 14px;
    font-size: 18px;
    font-weight: 500px;
    margin-bottom: 3px;
    cursor: pointer;
}

.designer_a {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    font-size: 16px;
}

.ab {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

.a {
    padding: 20px;
    color: #ffffff;
    margin-bottom: 40px;
}

.a h2 {
    font-size: 30px;
}

.a h2 mark {
    background: none;
    color: #fff023;

    font-family: "Corinthia", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 40px;
}

.a p {
    margin-top: 20px;
    font-size: 20px;
    max-width: 600px;
}

.my_eye {
    width: 80%;
    max-width: 400px;
    background-color: #d2c619;
    padding: 13px;
    font-size: 18px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0;
    border-left: 4px solid #c0b51c;
    border-bottom: 4px solid #c0b51c;
    cursor: pointer;
}

.my_eye:hover {
    background-color: #ebde25;
}

.my_eye img {
    margin-right: 10px;
    width: 17px;
    filter: brightness(0) invert(1);
}

.message_card {
    background-color: #f7f7f779;
    backdrop-filter: blur(10px);
    padding: 20px;
    margin: auto;
    border-radius: 20px;
}

.top_tap {
    display: flex;
    justify-content: center;
}

.profile_picture {
    min-width: 120px;
    max-width: 120px;
    min-height: 120px;
    max-height: 120px;
    border-radius: 500px;
    overflow: hidden;
    border: 3px solid #efd646;
    margin-right: 20px;
    align-items: center;
}

.profile_picture img {
    width: 100%;
}

.message {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.u {
    font-size: 18px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.p {
    font-size: 16px;
    padding: 0;
    margin: 20px 10px 10px 0;
}

.m {
    font-size: 16px;
    padding: 0;
    margin: 0;
    width: 90%;
    margin: auto;
    margin-top: 26px;
}

.m_send {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #f6d82d;
    color: #F7F7F7;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    border: 1px solid #f6d82d;
}

.titleOfB {
    text-align: left;
    color: #F7F7F7;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

.titleOfB h2 {
    font-size: 24px;
    text-align: center;
}

.titleOfB h2 mark{
    background: none;
    color: #fff023;

    font-family: "Corinthia", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 40px;
}

.titleOfB p {
    font-size: 18px;
}

.b {
    padding-bottom: 100px;
    max-width: 400px;
    margin-left: auto;
}

.middle_show {
    padding: 20px;
}

.end {
    padding: 20px;
    background-color: #dfd106;
}

.logoLast {
    padding: 20px;
    text-align: center;
}

.logoLast img {
    margin-top: 20px;
}

.logoLast h2 {
    font-family: "Uncial Antiqua", serif;
    font-weight: 600;
    font-style: normal;
    color: #F7F7F7;

    font-size: 26px;
}

.contatcInfo div {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 400px;
    margin: auto;
    margin-top: 30px;
    font-size: 20px;
}

.contatcInfo div img {
    width: 24px !important;
    margin-right: 10px;
}

.developer {
    text-align: center;
    font-size: 14px;
    margin-top: 60px;
}

.copyright {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;

}

.copyright img {
    margin-right: 5px;
}

@media only screen and (max-width: 800px) {
    .list_mobile {
        display: block !important;
    }

    .list_web {
        display: none !important;
    }

    .ab {
        display: block;
    }

    .b {
        max-width: 100% !important;
    }

    .hussein_logo h1 {
        font-size: 22px;
    }

    .hussein_logo {
        width: 280px;
    }

    .main_show {
        max-height: 1000px;
    }

}